{
  "Version": 2,
  "Defaults": {
    "solid": "Collide",
    "world": "Collide",
    "trigger": "Trigger",
    "ladder": "Ignore",
    "water": "Trigger",
    "noclip": "Ignore",
    "building": "Collide",
    "foliage": "Collide"
  },
  "Pairs": [
    {
      "a": "solid",
      "b": "solid",
      "r": "Collide"
    },
    {
      "a": "trigger",
      "b": "playerclip",
      "r": "Ignore"
    },
    {
      "a": "trigger",
      "b": "solid",
      "r": "Trigger"
    },
    {
      "a": "playerclip",
      "b": "solid",
      "r": "Collide"
    },
    {
      "a": "noclip",
      "b": "noclip",
      "r": "Ignore"
    },
    {
      "a": "water",
      "b": "noclip",
      "r": "Ignore"
    },
    {
      "a": "ladder",
      "b": "noclip",
      "r": "Ignore"
    },
    {
      "a": "world",
      "b": "noclip",
      "r": "Ignore"
    },
    {
      "a": "trigger",
      "b": "noclip",
      "r": "Ignore"
    },
    {
      "a": "solid",
      "b": "noclip",
      "r": "Ignore"
    },
    {
      "a": "building",
      "b": "building",
      "r": "Ignore"
    },
    {
      "a": "noclip",
      "b": "building",
      "r": "Ignore"
    },
    {
      "a": "foliage",
      "b": "foliage",
      "r": "Ignore"
    },
    {
      "a": "building",
      "b": "foliage",
      "r": "Collide"
    },
    {
      "a": "noclip",
      "b": "foliage",
      "r": "Ignore"
    },
    {
      "a": "water",
      "b": "foliage",
      "r": "Ignore"
    },
    {
      "a": "ladder",
      "b": "foliage",
      "r": "Ignore"
    },
    {
      "a": "world",
      "b": "foliage",
      "r": "Ignore"
    },
    {
      "a": "solid",
      "b": "foliage",
      "r": "Collide"
    }
  ],
  "__guid": "a206b0b0-f76b-4d79-a1c3-ca0905035ca5",
  "__schema": "configdata",
  "__type": "CollisionRules",
  "__version": 2
}