{
  "DestroyLobbyWhenHostLeaves": false,
  "AutoSwitchToBestHost": false,
  "ClientsCanSpawnObjects": false,
  "ClientsCanRefreshObjects": false,
  "ClientsCanDestroyObjects": false,
  "UpdateRate": 60,
  "__guid": "54a4d782-2563-49fb-90d2-a8ad3be672d4",
  "__schema": "configdata",
  "__type": "NetworkingSettings",
  "__version": 1
}