{
  "Systems": {
    "Sandbox.Clutter.ClutterGridSystem": {
      "Storage": {
        "$blob": "00000000-0000-0000-0000-000000000000"
      }
    },
    "Sandbox.SelectionSetsSystem": {
      "Data": {
        "SelectionSets": []
      }
    }
  },
  "__guid": "009a0ed0-c9aa-409c-b090-239213e0847d",
  "__schema": "configdata",
  "__type": "SystemsConfig",
  "__version": 1
}