{
  "Systems": {
    "Sandbox.Clutter.ClutterGridSystem": {
      "Storage": null
    },
    "Sandbox.SelectionSetsSystem": {
      "Data": {
        "SelectionSets": []
      }
    },
    "GameManager": {
      "playerPrefabLocation": "prefabs/engine/player.prefab",
      "PlayerPrefabLocation": "prefabs/player.prefab",
      "PlayerPrefab": {
        "_type": "gameobject",
        "prefab": "prefabs/player.prefab"
      }
    },
    "TNCBG.GunRegistry": {
      "weapons": []
    }
  },
  "__guid": "009a0ed0-c9aa-409c-b090-239213e0847d",
  "__schema": "configdata",
  "__type": "SystemsConfig",
  "__version": 1
}